In [1]:
import pandas as pd #used for data extraction
import numpy as np #used for numerical and math operations
from matplotlib import pyplot as plt #used to 2D images
%matplotlib inline

In [4]:
df=pd.read_csv('C:/Users/Asus/Desktop/TREE.csv')

In [5]:
df.head() #used to see data

  company                job education  sal_more_than_50K
0     TCS  PROJECT EXECUTIVE    B.TECH                  0
1     TCS  PROJECT EXECUTIVE    M.TECH                  0
2     TCS    PROJECT MANAGER    B.TECH                  1
3     TCS    PROJECT MANAGER    M.TECH                  1
4     TCS         PROGRAMMER    B.TECH                  0

In [6]:
df['company'].unique() # used to see number of companies

array(['TCS', 'INFOSYS', 'MICROSOFT'], dtype=object)

In [7]:
x=df[['company','job','education']] #assigning X features

In [8]:
from sklearn import preprocessing  #used to preprocessing

In [9]:
lb = preprocessing.LabelBinarizer() #used to assigning preprocessing

In [10]:
x['company']=lb.fit_transform(x['company']) #used to convert categerical data to numerical day
x['job']=lb.fit_transform(x['job']) #used to convert categerical data to numerical day   
x['education']=lb.fit_transform(x['education']) #used to convert categerical data to numerical day

<ipython-input-10-b3aefd67c529>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x['company']=lb.fit_transform(x['company']) #used to convert categerical data to numerical day
<ipython-input-10-b3aefd67c529>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x['job']=lb.fit_transform(x['job']) #used to convert categerical data to numerical day
<ipython-input-10-b3aefd67c529>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x['education']=lb.fit_transform(x['education']) #used to convert categerical data to numerical day

In [11]:
x.head() #used to see data

   company  job  education
0        0    0          0
1        0    0          1
2        0    0          0
3        0    0          1
4        0    1          0

In [13]:
y=df['sal_more_than_50K']

In [14]:
from sklearn.ensemble import RandomForestClassifier #assigning algorithm
RFT=RandomForestClassifier() #used to assign variable

In [15]:
from sklearn.model_selection import train_test_split #used for train and test cases

In [16]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.33, random_state=42) #used for Tr

In [17]:
from sklearn.model_selection import cross_val_score,cross_val_predict #used to know accuracy and predict variables
from sklearn.metrics import accuracy_score, classification_report,confusion_matrix

In [20]:
RFT.fit(x_train,y_train) #fitting train adn test cases

RandomForestClassifier()

In [21]:
pre=RFT.predict(x_test) #predicting test case

In [22]:
RFT.fit(x,y) #fitting x and y

RandomForestClassifier()

In [23]:
RFT.score(x,y) #used for test score

0.75

In [24]:
RFT.predict([[2,0,1]]) #preducting data.

array([0], dtype=int64)