In [ ]:
sprint("Hello World")

In [ ]:
print(20)

In [ ]:
bool(abs)

In [ ]:
Str = "Imran"
bool(Str)

In [ ]:
lst_example = []
type (lst_example)

In [ ]:
Imran = 123
lst_example =[]
lst_example.append(imran)
print(lst_example)

In [ ]:
a = 1,2,3,4,5,6
lst_example.append('a')

In [ ]:
a = 1,2,3,4,5,6
lst_example.insert(Imran,a)

In [ ]:
a = 1,2,3,4,5,6
lst_example.insert(Imran,a)
print(lst_example)

In [ ]:
a = [12.50, 60, 70]
b = 4,"Imran"
a.insert(3,b)
print(a)

In [ ]:
list=[1,2,3,4,5,6,7,8,9]
b = "Imran"

In [ ]:
list.append(b)

In [ ]:
tuple()

In [ ]:
str="imran"

In [ ]:
print(str.islower())

In [ ]:
lst=[100, 200, 300, 400, 500]
type(lst)

In [ ]:
# Append elements to the list
lst.append("Imran")
lst

In [ ]:
#index(0, 1, 100)
lst[1]

In [ ]:
lst.insert(1,200)

In [ ]:
lst

In [ ]:
#extend the list
lst.extend([200,800])

In [ ]:
lst

In [ ]:
lst.pop(5)

In [ ]:
import numpy as np

In [ ]:
#import numpy

In [ ]:
pip install numpy

In [ ]:
my_lst =[1,2,3,4,5,6,7,8,9,10,11,12,13]

In [ ]:
import numpy as np
arr=np.array(my_lst)

In [ ]:
type(arr)

In [ ]:
arr.shape

In [ ]:
int(ten)

In [ ]:
10==20

10!=20

In [ ]:
10!=20

In [ ]:
x=10
x+=10

In [ ]:
x=

In [ ]:
#set data type

s={1,2,3,4,5,'imran'}

In [ ]:
s[2]

In [ ]:
s.remove('imran')

In [ ]:
#frozenset datatype
fs=s

In [ ]:
fs

In [ ]:
#dict datatype

d=s

In [ ]:
print(d)

In [ ]:
d={10:20, 20:30, 20:32}

In [ ]:
type(d)

In [ ]:
d[10]='Imran'

In [ ]:
print(d)

In [ ]:
# dictionary has alway key and values

#if, if-elid, il-elif-else


# flow control

#conditional statements

#if
#if-elif
#il-elif-else

name=("Imran, goof morning")
if name =='Imran:'
else:
    print(Hello Guest)

In [ ]:
Entername:Imran

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv("C:\Users\imrkm\Downloads\parks.csv")

In [ ]:
df = pd.read_csv("C:/Users/imrkm/Downloads/parks.csv")

In [ ]:
df.head(5)

In [ ]:
df.head(3)

In [ ]:
#Indexing: Single RowsÂ¶
The simplest way to access a row is to pass the row number to the .iloc method. Note that first row is zero, just like list indexes.

In [ ]:
df.State.iloc[2]

In [ ]:
%matplotlib inline

import matplotlib.pyplot as plt

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
# Create a simple plot


x = [1,2,3,4,5]
y = [1,2,3]

In [ ]:
plt.plot(x, y)
plt.xlabel("X-axis")
plt.ylabel("Y-axis")
plt.title("Sample Plot")
plt.show()

In [ ]:
import numpy as np

In [ ]:
p=np.arange(90)

In [ ]:
print(p)

In [ ]:
p=np.arange(45)+5

In [ ]:
p.ndim

In [ ]:
pr=p.reshape((3,3,5))

In [ ]:
pr

In [ ]:
pr.shape

In [ ]:
pr.ndim

In [ ]:
p=np.arane(90).reshape((3,2,3,5))

In [ ]:
import numpy as np

p = np.arange(180).reshape((9,10,2))

In [ ]:
p

In [ ]:
p.shape

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
x=[1, 10]
y=[2, 15]

In [ ]:
company=['g','am','mf','fb']
revenu=[90,136,89,27]

In [ ]:
import numpy as np
xpos

In [ ]:
plt.bar(xpos,revenue,label='revenue')

In [ ]:
# Import libraries
from matplotlib import pyplot as plt
import numpy as np
# Creating dataset

# Creating plot
fig = plt.figure(figsize=(10, 7))

In [ ]:
fig = plt.figure(figsize=(10, 7))

In [ ]:
data = [23, 17, 35, 29, 12, 41], 

cars = ['AUDI', 'BMW', 'FORD',
'TESLA', 'JAGUAR', 'MERCEDES']

In [ ]:
plt.pie(data, labels=cars)

In [ ]:

# Python Programming illustrating 
# numpy.linspace method 
  
import numpy as geek 
  
# restep set to True 
print("B\n", geek.linspace(2.0, 3.0, num=5, retstep=True), "\n") 
  
# To evaluate sin() in long range  
x = geek.linspace(0, 14, 100) 
print("A\n", geek.sin(x))

In [6]:
import pandas as pd

In [16]:
#create a dataframe from list
# Example list
##Write a solution to create a DataFrame from a 2D list called student_data. This 2D list contains the IDs and ages of some students.

##The DataFrame should have two columns, student_id and age, and be in the same order as the original 2D list.

##The result format is in the following example.

 

data = [
  [1, 15],
  [2, 11],
  [3, 11],
  [4, 20]]

In [17]:
# Create a DataFrame
df = pd.DataFrame(data, columns=["student_id", "age"])

# Display the DataFrame
print(df)

   student_id  age
0           1   15
1           2   11
2           3   11
3           4   20

In [18]:
#import pandas as pd

def getDataframeSize(players: pd.DataFrame) -> List[int]:

SyntaxError: incomplete input (4046111353.py, line 3)

In [19]:
import pandas as pd
from typing import List

def getDataframeSize(players: pd.DataFrame) -> List[int]:
    """
    Calculates the size (number of rows and columns) of the input DataFrame.

    Args:
        players (pd.DataFrame): A pandas DataFrame.

    Returns:
        List[int]: A list containing the number of rows and columns.
    """
    num_rows, num_columns = players.shape
    return [num_rows, num_columns]

# Example usage:
if __name__ == "__main__":
    # Create a sample DataFrame (you can replace this with your actual data)
    player_data = {
        "PlayerID": [101, 102, 103],
        "Name": ["Alice", "Bob", "Charlie"],
        "Score": [85, 92, 78]
    }
    players_df = pd.DataFrame(player_data)

    # Get the size of the DataFrame
    size_list = getDataframeSize(players_df)
    print(f"Number of rows: {size_list[0]}, Number of columns: {size_list[1]}")

Number of rows: 3, Number of columns: 3