In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv("insurance_data.csv")

In [3]:
df.head()

,index,PatientID,age,gender,bmi,bloodpressure,diabetic,children,smoker,region,claim
0,0,1,39.0,male,23.2,91,Yes,0,No,southeast,1121.87
1,1,2,24.0,male,30.1,87,No,0,No,southeast,1131.51
2,2,3,NaN,male,33.3,82,Yes,0,No,southeast,1135.94
3,3,4,NaN,male,33.7,80,No,0,No,northwest,1136.40
4,4,5,NaN,male,34.1,100,No,0,No,northwest,1137.01

In [21]:
df.isnull().sum()

index            0
PatientID        0
age              5
gender           0
bmi              0
bloodpressure    0
diabetic         0
children         0
smoker           0
region           3
claim            0
dtype: int64

In [6]:
x=df[["bmi","bloodpressure"]]

In [7]:
x

       bmi  bloodpressure
0     23.2             91
1     30.1             87
2     33.3             82
3     33.7             80
4     34.1            100
...    ...            ...
1335  35.5             88
1336  38.1            120
1337  34.5             91
1338  30.4            106
1339  47.4            101

[1340 rows x 2 columns]

In [8]:
y=df[["claim"]]

In [9]:
y

         claim
0      1121.87
1      1131.51
2      1135.94
3      1136.40
4      1137.01
...        ...
1335  55135.40
1336  58571.07
1337  60021.40
1338  62592.87
1339  63770.43

[1340 rows x 1 columns]

In [10]:
from sklearn.model_selection import train_test_split

In [11]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.33, random_state=42)

In [16]:
from sklearn.neighbors import KNeighborsRegressor
KNN=KNeighborsRegressor()

In [17]:
KNN.fit(x_train,y_train)

KNeighborsRegressor()

In [18]:
fit = KNN.fit(x_train,y_train)

In [19]:
fit.score(x_train,y_train)

0.5055670445922456

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1340 entries, 0 to 1339
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   index          1340 non-null   int64
 1   PatientID      1340 non-null   int64
 2   age            1335 non-null   float64
 3   gender         1340 non-null   object
 4   bmi            1340 non-null   float64
 5   bloodpressure  1340 non-null   int64
 6   diabetic       1340 non-null   object
 7   children       1340 non-null   int64
 8   smoker         1340 non-null   object
 9   region         1337 non-null   object
 10  claim          1340 non-null   float64
dtypes: float64(3), int64(4), object(4)
memory usage: 115.3+ KB

In [22]:
from sklearn.preprocessing import StandardScaler

In [23]:
from sklearn.model_selection import cross_val_predict,cross_val_score
from sklearn.metrics import accuracy_score,classification_report,confusion_matrix

In [26]:
def print_score(clf,x_train, x_test, y_train, y_test,train=True):
    if train:
        print(Train, Result)