In [1]:
import pandas as pd
import numpy as np

In [2]:
from sklearn.neighbors import KNeighborsClassifier

In [3]:
df=pd.read_csv("logreg.csv")

In [4]:
df.head(14)

   age  voter
0    5      0
1   20      0
2   17      0
3   18      0
4   19      0
5   25      1
6   26      1
7   28      1
8   50      1
9   27      1

In [5]:
x=df[["age"]]

In [6]:
x

   age
0    5
1   20
2   17
3   18
4   19
5   25
6   26
7   28
8   50
9   27

In [7]:
y=df[["voter"]]

In [8]:
y

   voter
0      0
1      0
2      0
3      0
4      0
5      1
6      1
7      1
8      1
9      1

In [9]:
from sklearn.model_selection import train_test_split

In [10]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.33, random_state=42)

In [11]:
from sklearn.neighbors import KNeighborsClassifier
KNN=KNeighborsClassifier(n_neighbors=3)

In [12]:
KNN.fit(x,y)

C:\Users\raoni\anaconda3\Lib\site-packages\sklearn\neighbors\_classification.py:228: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)

KNeighborsClassifier(n_neighbors=3)

In [13]:
fit = KNN.fit(x,y)

C:\Users\raoni\anaconda3\Lib\site-packages\sklearn\neighbors\_classification.py:228: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)

In [14]:
KNN.score(x,y)

1.0